<nav class="navbar navbar-expand bg-dark text-light ">
	<a class="sidebar-toggle js-sidebar-toggle text-white">
		<i class="align-self-center" data-feather="menu" style="width:36px;height:36px;"></i>
	</a>

	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">
			<li class="nav-item dropdown">
				<a class="nav-icon dropdown-toggle d-inline-block d-sm-none text-light" href="#"
				   data-bs-toggle="dropdown">
					<i class="align-middle" data-feather="settings"></i>
				</a>

				{% if current_user.is_authenticated %}
					<a class="nav-link dropdown-toggle d-none d-sm-inline-block text-light" href="#"
					   data-bs-toggle="dropdown">
						<span class="text-light">{{ current_user.username }}</span>
					</a>
				{% endif %}
				<div class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
					<a class="dropdown-item"
					   href="{{ url_for('users.update_user_account_settings', user_id=current_user.id) }}"><i
							class="align-middle me-1" data-feather="settings"></i>
						Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log out</a>
				</div>
			</li>
		</ul>
	</div>
</nav>