<footer class="footer bg-dark">
    <div class="container-fluid">
        <div class="row text-bg-dark">
            <div class="col-6 text-start ">
                <p class="mb-0">
                    <a class="text-bg-dark" href="{{ url_for('main.home') }}"><strong>SoftyTech</strong></a>
                    -
                    <a class="text-bg-dark" href="{{ url_for('users.admin') }}"><strong>Admin</strong></a>
                    &copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <p class="text-muted mb-0">Powered by <a class="text-muted"
                                href="{{ url_for('main.about_mpd_tech')}}">MPDTech</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>