{% extends "base.html" %}


{% block content %}

<div class="mainContent">

    <div class="registerForm">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h1>{{ current_user.username }}</h1>
            {% if form.username.errors %}
            {{ form.username(class="form-control loginInput is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="loginInput registerInput", placeholder="Username") }}
            {% endif %}

            {% if form.email.errors %}
            {{ form.email(class="form-control loginInput is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="loginInput registerInput", placeholder="Email") }}
            {% endif %}

            {{ form.submit(class="registerButton") }}
            <a class="logoutButton leftLogout" href="{{ url_for('auth.logout') }}">Logout</a>
            <a class="logoutButton rightLogout"
                href="{{ url_for('users.delete_account', user_id=current_user.id) }}">Delete</a>
        </form>
    </div>

</div>



{% endblock %}