{% extends "admin_Base.html" %}

{% block content %}

<div class="mediaForm">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ form.mediaFile.label(class="mediaLabel") }}
            <br>
            {% if form.mediaFile.errors %}
                {{ form.mediaFile(class="form-control loginInput is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.mediaFile.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.mediaFile(class="mediaInput") }}
            {% endif %}
            {{ form.submit(class="mediaSubmitButton") }}
        </fieldset>


    </form>
</div>
<div class="mediaGallery">
    <ul class="galleryUL">
        {% for image_name in image_names %}
            <li class="galleryLI"><img src="{{ image_name }}" class="mediaGalleryImg" alt=""></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}