{% extends "admin_Base.html" %}

{% block content %}
<h2>Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
        <th></th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{ user.roles[0].name }}</td>
        <td><a href="{{ url_for('delete_user', user_id=user.id) }}">Delete</a></td>
        <td><a href="{{ url_for('update_user', user_id=user.id) }}">Update</a></td>

    </tr>
    {% endfor %}
</table>
{% endblock %}