{% extends "base.html" %}

{% block content %}
<form class="loginForm" method="POST" action="">
    {{ form.hidden_tag() }}
    <h1>Login</h1>
    {% if form.email.errors %}
    {{ form.email(class="form-control loginInput is-invalid") }}
    <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form.email(class="loginInput", placeholder="Email") }}
    {% endif %}


    <br>
    {% if form.password.errors %}
    {{ form.password(class="form-control loginInput is-invalid") }}
    <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form.password(class="loginInput", placeholder="Password") }}
    {% endif %}

    {{ form.submit(class="loginButton") }}
    <small>You forgot your password?</small>
    <a href="{{ url_for('user.forgot_password') }}" id="registerButton">Reset Password</a>
    <br>
    <small>You don't have account?</small>
    <a href="{{ url_for('auth.register') }}" id="registerButton">Register</a>
</form>

{% endblock %}