<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="Tech, SoFtY, Gaming, Blog, PC, News, Review, Games, GPU, CPU, RAM, nVidia, Intel, AMD, Gigabyte, MSI, Asus, Acer, Razer, Logitech, Roccat, R.A.T., Samsung, AsTech">
    <meta name="description"
        content="This website is for Gaming and PC enthusiasts bringing you fresh news, reviews and etc.">
    <meta name="author" content="Ivan Kojic">
    <link rel="icon" href="{{ url_for('static', filename='css/images/SoFtYTechIcon.ico') }}" type="image/x-icon" />
    {% if title %}
    <title>Softy Tech | {{ title }}</title>
    {% else %}
    <title>Softy Tech</title>
    {% endif %}
    <!-- - Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> - -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap-grid.css') }}">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/bootstrap/bootstrap-grid.min.css') }}">

    <script src="https://kit.fontawesome.com/c684ba2383.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog-card-original.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog-post.css') }}">

    <!--- My CSS --->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alert-comment-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <!--- FontAwesomeIcons CSS --->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--- Google Font --->
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <!--- SCRIPTS --->
    <!--- JQuery Scripts --->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Emoji Plugin -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/emojionearea.css') }}">
    <script src="{{ url_for('static', filename='js/emojionearea.js') }}"></script>
    <!--- Popper Scripts --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <!--- Bootstrap Scripts --->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!--- My Scripts --->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</head>

<body>

    {% include 'includes/navbar.html' %}

    <main>
        <div class="wrapper container">

            {% include "includes/messages.html" %}

            {% block content %}

            {% endblock %}
        </div>
    </main>

    {% include "includes/footer.html" %}

    {% block scripts %}

    {% endblock scripts %}
</body>

</html>