{% extends "base.html" %}


{% block content %}

<div class="mainContent">
    <div class="main">
        {% for post in posts %}
            {% include 'includes/blogPost.html' %}
        {% endfor %}


    </div>

    <div class="leftSide">
            <div class="search">
                    <form class="searchForm" method="POST" action="">
                        {{ form.hidden_tag() }}
                        {{ form.search(class="searchInput", placeholder="Search..") }}
                        <input class="searchBtn" id="submit" name="submit" type="submit" value="&#xf002">
                    </form>
                </div>
        
        <div class="sideDiv">
            <h5>Test</h5>
            <p> Ipsum is simply dummy text of the printing and typesetting
                industry. </p>
            <button class="sideDivBtn" type="button">Read More</button>
        </div>
        <div class="sideDiv">
            <h5>Test</h5>
            <p> Ipsum is simply dummy text of the printing and typesetting
                industry.</p>
            <button class="sideDivBtn" type="button">Read More</button>
        </div>
    </div>

    <div class="rightSide">
        
        <div class="sideDiv">
            <h5>{{ news.title }}</h5>
            <p>{{ news.description }}</p>
            <button class="sideDivBtn" type="button" onclick="window.location.href='{{ url_for('post', slug=news.slug) }}'">Read More</button>
        </div>
        <div class="sideDiv">
            <h5>{{ reviews.title }}</h5>
            <p>{{ reviews.description }}</p>
            <button class="sideDivBtn" type="button" onclick="window.location.href='{{ url_for('post', slug=reviews.slug) }}'">Read More</button>
        </div>
        <div class="sideDiv">
            <h5>{{ commentary.title }}</h5>
            <p>{{ commentary.description }}</p>
            <button class="sideDivBtn" type="button" onclick="window.location.href='{{ url_for('post', slug=commentary.slug) }}'">Read More</button>
        </div>
    </div>
</div>


    {% include "includes/topBtn.html" %}
{% endblock %}