{% extends "base.html" %}

{% block content %}
	<form class="form" method="POST" action="">
		{{ form.hidden_tag() }}
		<h1>Change Password</h1>

		{% if form.new_password.errors %}
			{{ form.new_password(class="form-control form-input is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.new_password.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.new_password(class="form-input", placeholder="New Password") }}
		{% endif %}
		<br>

		{% if form.retype_password.errors %}
			{{ form.retype_password(class="form-control form-input is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.retype_password.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.retype_password(class="form-input", placeholder="Retype Password") }}
		{% endif %}
		<br>

		{{ form.submit(class="form-submit-button") }}
	</form>

{% endblock %}