{% extends "base.html" %}

{% block content %}

<form class="form" method="POST" action="">
    {{ form.hidden_tag() }}
    <h1>Login</h1>
    {% if form.email.errors %}
    {{ form.email(class="form-control form-input is-invalid") }}
    <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form.email(class="form-input", placeholder="Email") }}
    {% endif %}


    <br>
    {% if form.password.errors %}
    {{ form.password(class="form-control form-input is-invalid") }}
    <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ form.password(class="form-input", placeholder="Password") }}
    {% endif %}

    {{ form.submit(class="form-submit-button") }}

    <a href="{{ url_for('auth.google_login') }}" class="socialLoginBtn socialLoginBtn-google">Login with Google</a>

    <a href="{{ url_for('auth.facebook_login') }}" class="socialLoginBtn socialLoginBtn-facebook">Login with
        Facebook</a>

    <br>

    <small class="form-link-text">You forgot your password? <a href="{{ url_for('user.forgot_password') }}"
            class="form-link-button">Reset Password</a></small>
    <br>
    <small class="form-link-text">You don't have account? <a href="{{ url_for('auth.register') }}"
            class="form-link-button">Register</a></small>

</form>

{% endblock %}