:root {
  --primary-color: #7fccf7;
  --light-color: #e4f1fe;
  --dark-secondary-color: rgba(34, 49, 63);
  --dark-color: rgba(35, 38, 41, 0.8);
  --dark-font-color: rgba(35, 38, 41);
}

.post-main {
  margin-bottom: 100px;
}

.post-head-image-container {
  position: relative;
  overflow: hidden;
  max-height: 30rem;
  border-radius: 10px;
  vertical-align: middle;
}

.post-head-image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.post-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--dark-font-color);
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.post-title span {
  background-color: var(--light-color);
  padding: 10px 20px;
}

.post-content {
  position: relative;
  background-color: var(--dark-color);
  width: 90%;
  margin: 0 auto;
  margin-top: -100px;
  z-index: 100;
  border-radius: 10px;
  padding: 30px 50px;
  text-align: justify;
}

.test-background {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  width: 100%;
  height: 100px;
  z-index: 1100;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
}

.post-subtitle {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.post-date {
  text-align: left;
  font-family: "Orbitron", sans-serif;
}

.post-author {
  text-align: right;
  font-family: "Orbitron", sans-serif;
}

.post-content p img {
  width: 100%;
}
