<header>
    <div class="navbar">
        <a href="/" id="logo"></a>
        <div class="navbarMobile">
            <a href="{{ url_for('main.home') }}" class="btn btnM">
                <i class="fa fa-home"></i>
            </a>
            {% if current_user.is_authenticated %}
            {% if current_user.roles[0].name == 'Admin' %}
            <a class="btn btnM" href="{{ url_for('users.admin') }}">
                <i class="fas fa-user"></i>
            </a>
            {% else %}
            <a class="btn btnM" id="loginBtnSmall">
                <i class="fas fa-user"></i>
            </a>
            {% endif %}
            {% else %}
            <a class="btn btnM" href="{{ url_for('auth.login') }}">
                <i class="fas fa-user"></i>
            </a>
            {% endif %}
        </div>
        <a class="btn btnH" id="btnH">
            <i class="fas fa-bars"></i>
        </a>
        <div class="menu">
            <a class="menuBtn" href="{{ url_for('main.home') }}">Home</a>
            <a class="menuBtn" href="#">News</a>
            <a class="menuBtn" href="#">Reviews</a>
            <a class="menuBtn" href="#">Commentary</a>
            {% if current_user.is_authenticated %}
            {% if user_has_role(current_user, 'Admin') or user_has_role(current_user, 'Superadmin') %}
            <a id="loginBtn" class="menuBtn" href="{{ url_for('users.admin') }}">{{ current_user.username }}</a>
            {% else %}
            <a id="loginBtn" class="menuBtn">{{ current_user.username }}</a>
            <div class="userAccountMenu">
                <a class="userAccountMenuBtn" href="{{ url_for('users.account') }}">Account Settings</a>
                <a class="userAccountMenuBtn" href="{{ url_for('user.change_password') }}">Change Password</a>
                <a class="userAccountMenuBtn" href="{{ url_for('auth.logout') }}">Log out</a>
            </div>
            {% endif %}
            {% else %}
            <a id="loginBtn" class="menuBtn" href="{{ url_for('auth.login') }}">Sign in</a>
            {% endif %}
        </div>
    </div>
    <div class="title" id="titleID">
        <h1>Softy Tech</h1>
    </div>
</header>