{% extends "base.html" %}


{% block content %}
    <div class="main-content">
        <h2 class="about-title">MPDTech</h2>
        <p class="about-text">MPDTech is the intellectual property of Ivan Kojić, and he holds all the associated rights
            and
            privileges to it. Ivan Kojić is the visionary creator and sole owner of MPDTech, a cutting-edge technology
            company that has consistently pushed the boundaries of innovation in various domains.</p>

        <p class="about-text">As the chief architect and driving force behind MPDTech, Ivan Kojić has invested countless
            hours, resources, and creative energy into developing groundbreaking technologies, products, and solutions.
            His
            relentless dedication to pushing the envelope in fields such as artificial intelligence, robotics, and
            sustainable energy has resulted in a portfolio of intellectual property that is both impressive and
            invaluable.
        </p>

        <p class="about-text">Ivan Kojić's intellectual property rights encompass all aspects of MPDTech's innovations,
            including patents, copyrights, trademarks, and trade secrets. These rights serve to protect the company's
            unique
            ideas, designs, software, and proprietary technologies, ensuring that they remain exclusively under Ivan
            Kojić's
            control.</p>

        <p class="about-text">It is important to recognize and respect Ivan Kojić's ownership of MPDTech's intellectual
            property. Any use, reproduction, distribution, or modification of MPDTech's innovations without his explicit
            consent would constitute a violation of his rights and could result in legal action.</p>

        <p class="about-text">In conclusion, MPDTech is unequivocally the intellectual property of Ivan Kojić, and he is
            the
            rightful holder of all rights associated with it. His visionary leadership and commitment to innovation have
            driven MPDTech's success, making it a leader in the technology industry, and it is imperative that his
            intellectual property rights are acknowledged and protected.</p>


        <p class="about-text">Have questions, suggestions, or just want to say hello? Contact me at ikojic000@gmail.com
            anytime!</p>

    </div>
{% endblock %}